<%- include('./partials/head') %>

    <main>
        <section class="temp-container">
            <form id="scoreForm" onsubmit="submitForm(event)">
                <div class="inner-form">
                  <label for="playerScored">Player Scored <span>*</span></label>
                  <select id="playerScored" name="playerScored" required>
                    <% data4.players.forEach(player => { %>
                        <option value="<%= player.name %>"><%= player.name %></option>
                    <% }) %>
                  </select>
                  <button type="submit" value="Submit">Submit</button>
                </div>
              </form>
        </section>
    </main>

    <aside>
        <%- include('./partials/sidebar') %>
    </aside>

<%- include('./partials/foot') %>